/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&sk {
    release-after-ms = <750>;
    quick-release;
};

&caps_word {
    continue-list = <UNDERSCORE MINUS BSPC>;
};

#define STICKY_MOD_TAP(name)               \
name: name##_sticky_mod_tap {              \
    label = #name;                         \
    compatible = "zmk,behavior-hold-tap";  \
    #binding-cells = <2>;                  \
    flavor = "balanced";                   \
    tapping-term-ms = <175>;               \
    quick-tap-ms = <150>;                  \
    global-quick-tap;                      \
    bindings = <&sk>, <&kp>;      \
};

#define STICKY_LAYER_TAP(name)               \
name: name##_sticky_mod_tap {              \
    label = #name;                         \
    compatible = "zmk,behavior-hold-tap";  \
    #binding-cells = <2>;                  \
    flavor = "balanced";                   \
    tapping-term-ms = <175>;               \
    quick-tap-ms = <150>;                  \
    global-quick-tap;                      \
    bindings = <&sl>, <&kp>;      \
};

#define HOME_ROW_MOD(name)                 \
name: name##_home_row_mod {                \
    label = #name;                         \
    compatible = "zmk,behavior-hold-tap";  \
    #binding-cells = <2>;                  \
    flavor = "tap-preferred";              \
    tapping-term-ms = <200>;               \
    quick-tap-ms = <175>;                  \
    global-quick-tap;                      \
    bindings = <&kp>, <&kp>;               \
};

#define BASE_L  0
#define NUM_L   1
#define NAV_L   2
#define SYM_L   3
#define ONE_LEFT  4
#define ONE_RIGHT 5
#define ONE_NUM   6
#define ONE_L_SYM 7
#define ONE_R_SYM 8
#define ONE_NAV   9
#define ONE_BT    10

#define MEHK(KEY) LS(LC(LA(LG(KEY))))
#define MEH       LS(LC(LA(LMETA)))

/ {
    macros {
        ZMK_MACRO(scope, wait-ms = <30>; tap-ms = <30>; bindings = <&kp COLON &kp COLON>;)
        ZMK_MACRO(lambda, wait-ms = <30>; tap-ms = <30>; bindings = <&kp L &kp A &kp M &kp B &kp D &kp A>;)
    };

    combos {
        compatible = "zmk,combos";

        #define COMBO(NAME, BINDINGS, KEYPOS, TIMEOUT) \
              combo_##NAME { \
                timeout-ms = <TIMEOUT>; \
                bindings = <BINDINGS>; \
                key-positions = <KEYPOS>; \
              };

        /*                KEY POSITIONS

          ╭────────────────────╮ ╭────────────────────╮
          │  0   1   2   3   4 │ │  5   6   7   8   9 │
          │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
          │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
          ╰───────╮ 30  31  32 │ │ 33  34  35 ╭───────╯
                  ╰────────────╯ ╰────────────╯        */

        // COMBO(grave, &kp GRAVE, 1 2, 60)
        // COMBO(colon, &kp COLON, 7 8, 60)
        // COMBO(equal, &kp EQUAL, 21 22, 60)
        // COMBO(semicolon, &kp SEMI, 27 28, 60)

        // COMBO(minus, &kp MINUS, 31 34, 60)
        // COMBO(underscore, &kp UNDER, 32 33, 60)

        // QWER combo for base layer - switches to one_left
        combo_BASE_L_to_ONE_LEFT {
            timeout-ms = <50>;
            bindings = <&to ONE_LEFT>;
            key-positions = <0 1 2 3>;
            layers = <BASE_L>;
        };

        // QWER combo for one_left layer - switches back to base
        combo_ONE_LEFT_to_BASE {
            timeout-ms = <50>;
            bindings = <&to BASE_L>;
            key-positions = <0 1 2 3>;
            layers = <ONE_LEFT>;
        };

        combo_ONE_LEFT_to_NAV {
            timeout-ms = <50>;
            bindings = <&to ONE_NAV>;
            key-positions = <2 3>;
            layers = <ONE_LEFT>;
        };

        // QWER combo for one_left layer - switches back to base
        combo_ONE_LEFT_to_ONE_BT {
            timeout-ms = <50>;
            bindings = <&to ONE_BT>;
            key-positions = <0 1 2 4>;
            layers = <ONE_LEFT>;
        };


        // QWER combo for one_left layer - switches back to base
        combo_ONE_BT_to_ONE_LEFT {
            timeout-ms = <50>;
            bindings = <&to ONE_LEFT>;
            key-positions = <0 1 2 4>;
            layers = <ONE_BT>;
        };
    };

    behaviors {
        spc_rt: spc_rt {
            compatible = "zmk,behavior-hold-tap";
            label = "SPC_RT";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&kp>;
        };

        bspc_num: bspc_num {
            compatible = "zmk,behavior-hold-tap";
            label = "BSPC_NUM";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <175>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&kp>;
        };

        // Ctrl < Option < Command < Shift
        STICKY_MOD_TAP(sk_A)
        STICKY_MOD_TAP(sk_R)
        STICKY_MOD_TAP(sk_S)
        STICKY_MOD_TAP(sk_T)
        STICKY_MOD_TAP(sk_O)
        STICKY_MOD_TAP(sk_I)
        STICKY_MOD_TAP(sk_E)
        STICKY_MOD_TAP(sk_N)
        STICKY_MOD_TAP(sk_RET_MEH)
        STICKY_MOD_TAP(sk_MUTE)
        STICKY_LAYER_TAP(sl_L_SYM_C)
        STICKY_LAYER_TAP(sl_R_SYM_D)

        // Home row mods for base_layer
        HOME_ROW_MOD(hrm_a)    // A with
        HOME_ROW_MOD(hrm_s)    // S with
        HOME_ROW_MOD(hrm_d)    // D with
        HOME_ROW_MOD(hrm_f)    // F with
        HOME_ROW_MOD(hrm_j)    // J with
        HOME_ROW_MOD(hrm_k)    // K with
        HOME_ROW_MOD(hrm_l)    // L with
        HOME_ROW_MOD(hrm_bspc)// BSPC with

        // Home row mods for num_layer
        HOME_ROW_MOD(hrm_tab)   // TAB with
        HOME_ROW_MOD(hrm_rbrc)  // LBRC with
        HOME_ROW_MOD(hrm_lbrc)  // RBRC with
        HOME_ROW_MOD(hrm_minus) // MINUS with
        HOME_ROW_MOD(hrm_n4)    // N4 with
        HOME_ROW_MOD(hrm_n5)    // N5 with
        HOME_ROW_MOD(hrm_n6)    // N6 with

        // Home row mods for sym_layer
        HOME_ROW_MOD(hrm_minus_sym) // MINUS with (sym layer)
        HOME_ROW_MOD(hrm_dllr)      // DLLR with
        HOME_ROW_MOD(hrm_prcnt)     // PRCNT with
        HOME_ROW_MOD(hrm_colon)     // COLON with

        // Home row mods for nav_layer
        HOME_ROW_MOD(hrm_mute)    // C_MUTE with
        HOME_ROW_MOD(hrm_voldn)   // C_VOL_DN with
        HOME_ROW_MOD(hrm_volup)   // C_VOL_UP with
        HOME_ROW_MOD(hrm_down)     // DOWN with
        HOME_ROW_MOD(hrm_up)       // UP with
        HOME_ROW_MOD(hrm_right)   // RIGHT with
    };

    // behaviors {
    //     td_q_esc: td_q_esc {
    //               compatible = "zmk,behavior-tap-dance";
    //               label = "TD_Q_ESC";
    //               #binding-cells = <0>;
    //               tapping-term-ms = <400>;
    //               bindings = <&kp Q>, <&kp ESC>;
    //     };

    //     td_flsh_L: td_fslh_L {
    //                compatible = "zmk,behavior-tap-dance";
    //                label = "TD_FSLH_L";
    //                #binding-cells = <0>;
    //                tapping-term-ms = <400>;
    //                bindings = <&kp FSLH>, <&kp LEFT>;
    //     };

    //     td_dllr_D: td_dllr_D {
    //                compatible = "zmk,behavior-tap-dance";
    //                label = "TD_DLLR_D";
    //                #binding-cells = <0>;
    //                tapping-term-ms = <400>;
    //                bindings = <&kp DLLR>, <&kp DOWN>;
    //     };

    //     td_prcnt_U: td_prcnt_U {
    //                compatible = "zmk,behavior-tap-dance";
    //                label = "TD_PRCNT_D";
    //                #binding-cells = <0>;
    //                tapping-term-ms = <400>;
    //                bindings = <&kp PRCNT>, <&kp UP>;
    //     };

    //     td_COLON_R: td_COLON_R {
    //                compatible = "zmk,behavior-tap-dance";
    //                label = "TD_COLON_R";
    //                #binding-cells = <0>;
    //                tapping-term-ms = <400>;
    //                bindings = <&kp COLON>, <&kp RIGHT>;
    //     };

    // };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
                   &kp Q              &kp W           &kp E            &kp R            &kp T       /**/   &kp Y         &kp U                 &kp I            &kp O            &kp P
                   &hrm_a LALT A      &hrm_s LCMD S   &hrm_d LCTRL D   &hrm_f LSHFT F   &kp G       /**/   &kp H         &hrm_j RSHFT J        &hrm_k RCTRL K   &hrm_l RCMD L    &hrm_bspc RALT BSPC
                   &kp Z              &kp X           &kp C            &kp V            &kp B       /**/   &kp N         &kp M                 &kp COMMA        &kp DOT          &kp RETURN
                 /*&                  &*/             &to NUM_L        &sl SYM_L        &sl NAV_L   /**/   &sk MEH       &sl SYM_L             &kp SPC        /*&                &*/
            >;
        };

         num_layer {
            bindings = <
                   &kp ESC              &kp LPAR            &kp RPAR             &kp ASTRK              &kp EQUAL  /**/   &kp PLUS       &kp N7              &kp N8            &kp N9            &kp CARET
                   &hrm_tab LALT TAB    &hrm_lbrc LCMD LBRC &hrm_rbrc LCTRL RBRC &hrm_minus LSHFT MINUS &kp BSLH   /**/   &kp FSLH       &hrm_n4 RSHFT N4    &hrm_n5 RCTRL N5  &hrm_n6 RCMD N6   &hrm_bspc RALT BSPC
                   &none                &kp LBKT            &kp RBKT             &kp COMMA              &kp DOT    /**/   &kp N0         &kp N1              &kp N2            &kp N3            &kp RETURN
                 /*&                    &*/                 &none                &none                  &none      /**/   &sk MEH        &to BASE_L          &kp SPC         /*&                 &*/
            >;
        };

        nav_layer {
            bindings = <
                   &kp ESC              &bt BT_SEL 0          &bt BT_SEL 1              &bt BT_SEL 2              &bt BT_SEL 3 /**/   &bt BT_SEL 4   &none                 &bt BT_PRV       &bt BT_NXT            &bt BT_CLR
                   &hrm_tab LALT TAB    &hrm_mute LCMD C_MUTE &hrm_voldn LCTRL C_VOL_DN &hrm_volup LSHFT C_VOL_UP &none        /**/   &kp LEFT       &hrm_down RSHIFT DOWN &hrm_up RCTRL UP &hrm_right RCMD RIGHT &hrm_bspc RALT BSPC
                   &none                &none                 &none                     &none                     &none        /**/   &kp HOME       &kp PG_DN             &kp PG_UP        &kp END               &kp RETURN
                 /*&                    &*/                   &none                     &none                     &none        /**/   &sk MEH        &to BASE_L            &none          /*&                     &*/
            >;
        };

        sym_layer {
            bindings = <
                   &kp ESC              &kp LPAR            &kp RPAR             &kp ASTRK                  &kp EQUAL  /**/   &kp PLUS       &kp AMPS             &kp GRAVE              &kp SQT               &kp CARET
                   &hrm_tab LALT TAB    &hrm_lbrc LCMD LBRC &hrm_rbrc LCTRL RBRC &hrm_minus_sym LSHFT MINUS &kp BSLH   /**/   &kp FSLH       &hrm_dllr RSHFT DLLR &hrm_prcnt RCTRL PRCNT &hrm_colon RCMD COLON &hrm_bspc RALT BSPC
                   &none                &kp LBKT            &kp RBKT             &kp COMMA                  &kp DOT    /**/   &kp SEMI       &kp EXCL             &kp AT                 &kp HASH              &kp RETURN
                 /*&                    &*/                 &none                &none                      &none      /**/   &none          &to BASE_L           &none                /*&                     &*/
            >;
        };

        /*******************************************************************************************************************************************************************/

        one_left_layer {
            bindings = <
                   &kp Q              &kp W            &kp F                      &kp P                    &kp B                   /**/   &none         &none               &none         &none         &none
                   &sk_A LALT A       &sk_R LCMD R     &sk_S LCTRL S              &sk_T LSHFT T            &kp G                   /**/   &none         &none               &none         &none         &none
                   &kp Z              &kp X            &sl_L_SYM_C ONE_L_SYM C    &sl_R_SYM_D ONE_R_SYM D  &kp V                   /**/   &none         &none               &none         &none         &none
                 /*&                  &*/              &bspc_num ONE_NUM BSPC     &spc_rt ONE_RIGHT SPC    &sk_RET_MEH MEH RETURN  /**/   &none         &none               &none       /*&             &*/
            >;
        };

        one_right_layer {
            bindings = <
                   &kp ESC      &kp Y         &kp U         &kp L         &kp J       /**/   &none         &none               &none         &none         &none
                   &sk_O RALT O &sk_I RCMD I  &sk_E RCTRL E &sk_N RSHFT N &kp M       /**/   &none         &none               &none         &none         &none
                   &kp FSLH     &kp DOT       &kp COMMA     &kp H         &kp K       /**/   &none         &none               &none         &none         &none
                 /*&            &*/           &none         &none         &none       /**/   &none         &none               &none       /*&             &*/
            >;
        };

        one_num_layer {
            bindings = <
                   &kp PLUS    &kp N9        &kp N8       &kp N7         &kp EQUAL   /**/   &none         &none               &none         &none         &none
                   &kp MINUS   &kp N6        &kp N5       &kp N4         &kp ASTRK   /**/   &none         &none               &none         &none         &none
                   &kp FSLH    &kp N3        &kp N2       &kp N1         &kp N0      /**/   &none         &none               &none         &none         &none
                 /*&            &*/          &none        &none          &none       /**/   &none         &none               &none       /*&             &*/
            >;
        };

        one_left_sym_layer  {
            bindings = <
                   &kp TAB      &kp LT        &kp GT        &kp PIPE      &kp EQUAL   /**/   &none         &none            &none          &none          &none
                   &kp MINUS    &kp SEMI      &kp TILDE     &kp CARET     &kp AMPS    /**/   &none         &none            &none          &none          &none
                   &kp BSLH     &kp EXCL      &kp LBKT      &kp RBKT      &kp PRCNT   /**/   &none         &none            &none          &none          &none
                 /*&            &*/           &none         &none         &none       /**/   &none         &none            &none        /*&                   &*/
            >;
        };

        one_right_sym_layer  {
            bindings = <
                   &kp GRAVE      &kp DLLR      &kp LBRC      &kp RBRC      &kp PLUS   /**/   &none         &none            &none          &none          &none
                   &kp UNDERSCORE &kp COLON     &kp LPAR      &kp RPAR      &kp ASTRK  /**/   &none         &none            &none          &none          &none
                   &kp SQT        &kp DQT       &kp HASH      &kp QMARK     &kp AT     /**/   &none         &none            &none          &none          &none
                /*&               &*/           &none         &none         &none      /**/   &none         &none            &none        /*&              &*/
            >;
        };

        one_nav_layer {
            bindings = <
                   &kp C_VOL_DN          &kp END       &kp PG_DN     &kp RIGHT    &kp DOWN     /**/   &none         &none            &none          &none         &none
                   &sk_MUTE LALT C_MUTE  &sk LCTRL     &sk LCMD      &sk LSHFT    &none        /**/   &none         &none            &none          &none         &none
                   &kp C_VOL_UP          &kp HOME      &kp PG_UP     &kp LEFT     &kp UP       /**/   &none         &none            &none          &none         &none
                 /*&                     &*/           &none         &to ONE_LEFT &none        /**/   &none         &none            &none        /*&             &*/
            >;
        };

        one_bt_layer {
            bindings = <
                   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3 &bt BT_SEL 4 /**/   &none         &none            &none          &none         &none
                   &bt BT_CLR    &none         &none         &none        &none        /**/   &none         &none            &none          &none         &none
                   &none         &none         &none         &none        &none        /**/   &none         &none            &none          &none         &none
                   &none         &none         &none         &none        &none        /**/   &none         &none            &none          &none         &none
                 /*&            &*/            &none         &none        &none        /**/   &none         &none            &none        /*&             &*/
            >;
        };
    };
};
